nav li {
    list-style: none;
    display: inline;    
}

.author {
    text-transform: capitalize;
    margin: 0;      
}

.navigation a {
    margin: 0 20px;
}

.navigation ul li a {    
    color: black;
    font-size: 1em;
}

.projects {    
    height: 100%;
    width: 100%;
}











