.navigation {    
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 25px;
}

.left-space {
    padding-left: 20px;
}

.right-space {
    padding-right: 20px;
}

.author p {
    margin: 0;
    position: absolute;
    top: 50px;
    left: 33px;
}

header {
    background-color: darkgray;    
}

body {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr;
}

.project-container {
    margin: 20px 100px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);     
}

.standard-container {
    margin: 0 auto;
}



/* .about-me-intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);     
} */

.about-me-intro {
    display: flex;
    gap: 20px
            
}

.about-me-text {
    width: 300px;
}

/* .about-me-description {
    height: 50px;
    justify-items: start;
} */

.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 6rem;
}

.footer-col {
    display: grid;
    background-color: darkgrey;
    color: white;
    grid-auto-flow: column;
    align-items: start;        
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.about-me-photo {
    grid-area: photo;
}

.about-me-description {
    grid-area: description;
}

/* media querry */
@media (min-width: 1800px){
    .projects{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}

@media (min-width: 800px) and (max-width:1800px) {
    .projects {
        grid-template-columns: 1fr 1fr;
    }  
}

@media (max-width: 800px) {
    .projects {
        grid-template-columns: 1fr;
    }
    .about-me-intro {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "header"
        "description"
        ;
    }
}