.navigation a {
    text-transform: uppercase;
    text-decoration: none;
    
}

nav ul {
    font-size: 1rem;    
    
}

.projects h2 {
    text-transform: uppercase;
}

/* .projects h2::first-letter {
    font-size:50px;
    color: orange;
} */

.author p::first-line {
    color: gold;
} 

.projects h2::before {
    content: "[";
    color: orange;
    font-size:  50px;
}

.projects h2::after {
    content: "]";
    color: orange;
    font-size:  50px;
}
